
body {
    display: block;
    margin: 8px;
    padding-left: 200px;
    padding-right: 200px;
}

header h1 {
    text-align: center;
    font-size: 125px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    padding: 0;
    margin-bottom: 0;
}

#mainheading {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 0;
    margin-top: 0;
    color: red;
}

header h3 {
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
}

#byline {
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
}

.funParagraph {
    color: green;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

figure {
    font-style: italic;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
